@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    max-width: var(--maxWith);
    margin: 0 auto; /* to make it centeret */
    font-family: var(--fontMain);

    /* the first header of the body + the first footer of the body */
    > header, > footer {
        padding: 0.5rem 1rem;
        text-align: center;
        color: var(--colorBgComplementary);
        background-color: var(--colorBgMain);
    }

    > header {
        font-family: var(--fontTitle);

        nav {
            display: inline-block;
            width: auto;
            padding: 0.25rem 1rem;
            margin-top: 0.5rem;
            border-radius: 1rem;
            font-family: var(--fontMain);

            button {
                background-color: var(--colorBgNav);
                font-family: var(--fontMain);
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    
    nav {
        background-color: var(--colorBgNav);
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 1rem;

            
            list-style-type: none;

            > li > a {
                font-weight: bold;
                text-decoration: none;
                color: var(--colorBgComplementary);
                
            }
        }
    }

    main {
        padding: 0.5rem 1rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--colorBgMain);
    }
}

/* not nested because we use a button in the dialog */
button {
    color: var(--colorBgComplementary);
    background-color: var(--colorBgMain);
    border: none;
    cursor: pointer;
}

.recipe-attribute {
    display: inline-block;
    width: auto;

    padding: 0 1rem;
    border-radius: 1rem;
    color: var(--colorBgComplementary);

    &.recipe-area {
        background-color: var(--colorBgNav);
    }

    &.recipe-category {
        background-color: var(--colorBgCategory);
    }
}

.hidden {
    display: none;
}