@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: var(--maxWith);
    margin: 0 auto; /* to make it centeret */
    font-family: var(--fontMain);

    /* the first header of the body + the first footer of the body */
    > header, > footer {
        padding: 0.5rem 1rem;
        text-align: center;
        color: var(--colorBgComplementary);
        background-color: var(--colorBgMain);
    }

    > header {
        font-family: var(--fontTitle);
    }
    
    nav {
        background-color: var(--colorBgNav);
        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 1rem;

            
            list-style-type: none;

            > li > a {
                font-weight: bold;
                text-decoration: none;
                color: var(--colorBgComplementary);
                
            }
        }
    }

    main {
        padding: 0.5rem 1rem;
    }

    a {
        text-decoration: none;
        font-weight: bold;
        color: var(--colorBgMain);
    }
}

/* not nested because we use a button in the dialog */
button {
    color: var(--colorBgComplementary);
    background-color: var(--colorBgMain);
    border: none;
    cursor: pointer;
}